<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics</title>
</head>
<body>
    {{role}} - <a href="/logout">Logout</a>  
    {% if user.is_superuser %}
    <a href="/admin">Admin Site</a>
    {% endif %}
</body>
</html>