<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>
    <div>Login</div>
    <br>
    <div>
        <form method="POST">
            {% csrf_token %}
            <span class="color:red">
                {{error}}
                <br>
            </span>
            {% for filed in Login_Form %}
            <div>
                {{filed.label}}
                {{filed}}
            </div>
            <br>
            {% endfor %}
            <button>Login</button>
        </form>
    </div>
</body>
</html>